<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cunuc Home</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {% load staticfiles %}
	<link rel="stylesheet" href='{% static "css/style.css" %}'>
</head>
<body>
	<main>
		<header>
			<img class="logo" src="{% static 'images/cunuclogo.jpg' %}" alt="">
			<a class="buttonblue" href="{% url 'registration.views.login_user' %}">Inicia Sesión</a>
		</header>
		<section>
			<img class="video" src="{% static 'images/video.jpg' %}" alt="">
			<div class="inforight">
				<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>
				<a class="buttonblue" href="{% url 'registration.views.register' %}">Regístrate</a>
			</div>
		</section>
		<section>
			<h3>Con cunuc, tú puedes</h3>
			<div>
				<img src="{% static 'images/img1.jpg' %}" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
			<div>
				<img src="{% static 'images/img1.jpg' %}" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
			<div>
				<img src="{% static 'images/img1.jpg' %}" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
			<div>
				<img src="{% static 'images/img1.jpg' %}" alt="">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
			</div>
		</section>
		<section>
			<h3>Empresas que confían en nosotros</h3>
			<ul>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
				<li><img src="{% static 'images/img2.jpg' %}" alt=""></li>
			</ul>
		</section>
		<footer>
			<img src="{% static 'images/logofooter.jpg' %}" alt="" class="logo">
			<ul class="social">
				<li><a href=""><img src="{% static 'images/social1.jpg' %}" alt=""></a></li>
				<li><a href=""><img src="{% static 'images/social2.jpg' %}" alt=""></a></li>
				<li><a href=""><img src="{% static 'images/social3.jpg' %}" alt=""></a></li>
			</ul>
			<div class="contacto">
				<div id="map-canvas"></div>
				<span>Dirección:</span> Calle Clemente X329<br/>
				<span>Teléfono:</span> +511 969 339 113<br/>
				<span>Email:</span> contacto@cunuc.com
			</div>
		</footer>
	</main>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script>
		myApp.init();
	</script>
</body>
</html>