<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Cunuc</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<main>
		<div id="register">
			<aside>
				<img class="logoform" src="images/logoform.jpg" alt="">
				<h3>Inicia sesión con email:</h3>
				<form action="">
					<input type="email" placeholder="Email:">
					<input type="password" placeholder="Password:">
					<a class="passwordforget" href="">Me olvidé mi password</a>
					<input type="submit" value="Iniciar sesión">
				</form>
				<span>No tienes una cuenta? <a href="">Regístrate</a></span>
			</aside>
		</div>
	</main>	
</body>
</html>