<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login Cunuc</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<main>
		<div id="register">
			<aside>
				<img class="logoform" src="images/logoform.jpg" alt="">
				<h3>Inicia sesión en cunuc:</h3>
				<a class="registerface" href="">Iniciar sesión con Facebook</a>
				<a class="registeremail" href="">Iniciar sesión con Email</a>
				<span>¿No tienes una cuenta? <a href=""> Regístrate</a></span>
			</aside>
		</div>
	</main>	
</body>
</html>