<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Register Cunuc</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<main>
		<div id="register">
			<aside>
				<img class="logoform" src="images/logoform.jpg" alt="">
				<h3>Regístrate en cunuc:</h3>
				<a class="registerface" href="">Regístrate con Facebook</a>
				<a class="registeremail" href="">Regístrate con Email</a>
				<span>¿Ya tienes una cuenta? <a href=""> Inicia sesión</a></span>
			</aside>
		</div>
	</main>	
</body>
</html>